<app-navbar>
</app-navbar>
<fieldset>


    <div class="container">
        <hr>
        <h1 class="text-center">Manage Airlines</h1>
        <hr>
        <div class=" float-end">
            <button (click)="addairline()" class="btn btn-primary">Add Airlines </button>
        </div>
        <table class="table table-bordered  table-striped">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Airlines</th>
                    <th>Contact No</th>
                    <th>Contact Address</th>
                    <th>Status</th>
                    <th>
                        Actions
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flight of flightdata">
                    <td>
                      
                        <img src="../../../assets/images/{{flight.id}}.png" class="img img-responsive" style="width:100px;" >
                    </td>
                    <td>{{flight.airlineName}}</td>
                    <td>{{flight.contactnumber}}</td>
                    <td>{{flight.contactaddress}}</td>
                    <td>{{flight.status}}</td>
                    <td >
                        <a *ngIf="flight.status != 'BLOCKED'; else unblocked" [routerLink]="['/blockairline/',flight.id]" class="btn btn-warning">
                            Block
                        </a>
                        
                    </td>
                    <ng-template #unblocked>
                        <a [routerLink]="['/blockairline/',flight.id]" class="btn btn-warning">
                           UnBlock
                        </a>
                    </ng-template>
                </tr>
            </tbody>
        </table>


    </div>
</fieldset>