<app-navbar>
</app-navbar>
<fieldset>


    <div class="container">
        <hr>
        <h1 class="text-center">Manage Airlines</h1>
        <hr>
        <div class=" float-end">
            <button (click)="addairline()" class="btn btn-primary">Add Airlines </button>
        </div>
        <table class="table table-bordered  table-striped">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Airlines</th>
                    <th>Contact No</th>
                    <th>Contact Address</th>
                    <th>
                        Actions
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flight of flightdata">
                    <td>
                        {{flight.id}}
                    </td>
                    <td>{{flight.airlineName}}</td>
                    <td>{{flight.contactnumber}}</td>
                    <td>{{flight.contactaddress}}</td>
                    <td>
                        <a href="" class="btn btn-warning">Update</a>

                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</fieldset>