<app-navbar>
</app-navbar>
<div class="container">

    <fieldset>
        <form >
        <div class="col-md-4">
            <label for="txtdiscount" class="form-label">Discount Code</label>
            <input type="text" class="form-control" id="txtdiscount" >
            <button class="btn btn-primary">Apply</button>
        </div>
         
        <div class="col-md-4">
            <label for="ddlonewayseat" class="form-label">Select Seat</label>
            <span>(Oneway Journey)</span>
           <select class="form-control">
               <option>E1</option>
               <option>E2</option>
           </select>
        </div>
        <div class="col-md-4">
            <label for="ddlreturnseat" class="form-label">Select Seat</label>
            <span>(Return Journey)</span>
           <select class="form-control">
               <option>E1</option>
               <option>E2</option>
           </select>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success">Check Out</button>
        
            <a href="#" class="btn btn-primary">Back</a>
        </div>
    </form>
    </fieldset>
    
    </div>
