
 <app-navbar>
</app-navbar>
<div class="container" >
    <hr>
    <h1 class="text-center">Manage Schedules</h1>
    <hr>
    <div class=" float-end">
        <button (click)="addflight()" class="btn btn-primary">Add New Flight </button>
    </div>
    <table class="table table-bordered  table-striped">
        <thead>
            <tr>
            <th>Airline</th>
            <th>Flight No</th>
            <th>From</th>
            <th>To</th>
            <th>Take Off</th>
            <th>Landing</th>
            <!-- <th>No Of Business Seats</th>
            <th>No Of Non Business Seats</th> -->
            <th>No of Rows</th>
            <th>Schedules Days</th>
            <th>Total Cost</th>
            <th>Meals</th>
            <th>Actions</th>
            <th>Status</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor = "let flight of flights" >
                <td>
                    {{flight.airlineID}}
                </td>
                <td>{{flight.flightname}}</td>
                <td>{{flight.from}}</td>
                <td>{{flight.to}}</td>
                <td>{{flight.takeoff}}</td>
                <td>{{flight.landing}}</td>
                <!-- <td>{{flight.numberofbusinessseats}}</td>
                <td>{{flight.numberofnonbusinessseats}}</td> -->
                <td>{{flight.numberofrows}}</td>
                <td>{{flight.scheduling}}</td>
                <td>{{flight.totalcost}}</td>
                <td>{{flight.meals}}</td>
                <td>{{flight.status}}</td>
                <td>
                    <a [routerLink]="['/cancelflight/',flight.id]" class="btn btn-warning">Cancel</a>
    
                </td>
            </tr>
        </tbody>
    </table>
    
     
    </div>
     