
<app-navbar>
</app-navbar>
<div class="container">
<table class="table table-bordered">
<thead>
    <tr>
        
        <th>
            Logo
        </th>
        <th>
            Date
        </th>
        <th>
            Details
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        
        <td>
            Indigo Logo
        </td>
        <td>
            10/07/2021
        </td>
         
        <td>
            <button class="btn btn-primary">View</button>
            <button class="btn btn-primary">Download</button>
            <button class="btn btn-warning">Cancel</button>
        </td>
    </tr>
</tbody>
</table>
</div>