<app-navbar>
</app-navbar>

<div class="container">
    <hr>
    <h1 class="text-center">Cancel Flight</h1>
    <hr>

    <div class="row">
        <div class="col-lg-7 col-md-6 mb-6">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <label for="lblmessage">Are you Sure want to Cancel Flight?</label>
                        <input type="submit" (click)="cancelflight()" value="Yes" class="btn btn-primary">..
                        <a routerLink="../../manageschedules" class="btn btn-primary">No</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
</div>