<h4 align="center">Your Booking History</h4>
<table class="table table-bordered">
<thead>
    <tr>
        <th>
            Date
        </th>
        <th>
            Logo
        </th>
        <th>
            Price
        </th>
        <th>
            Details
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            10/07/2021
        </td>
        <td>
            Indigo Logo
        </td>
        <td>
            12000 
        </td>
        <td>
            <button class="btn btn-primary">ViewDetails</button>
        </td>
    </tr>
</tbody>
</table>