<app-navbar>
</app-navbar>
<div class="container">
    <hr>
    <h1 class="text-center">Booking History</h1>
    <hr>
 
<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th>
            S#
        </th>
        <th>
            PNR
        </th>
        <th>
            Flight Name
        </th>
        <th>
            Passenger Name
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            TakeOff
        </th>
        <th>
            Landing
        </th>
        <th>
            Booked On
        </th>
        <th>
            Price
        </th>
        <th>
            Flight Status
        </th>
        <th>
            Journey Status
        </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let booking of bookingdetails; index as i">
        <td>
           {{i+1}}
        </td>
        <td>
            {{booking.pnr}}
        </td>
        <td>
           {{booking.flightName}}
        </td>
        <td>
            {{booking.passengerName}}
        </td>
        <td>
            {{booking.from}} 
        </td>
        <td>
            {{booking.to}} 
        </td>

        <td>
            {{booking.takeoffTime}} 
        </td>

        <td>
            {{booking.landingtime}} 
        </td>

        <td>
            {{booking.bookingtime}} 
        </td>

        <td>
            {{booking.totalCost}} 
        </td>

        <td>
            {{booking.flightStatus}} 
        </td>


        <td>
            {{booking.journeyStatus}} 
        </td>


        
    </tr>
</tbody>
</table>
</div>