<div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="ddlairline" class="col-form-label">Select Airline</label>
    </div>
    <div class="col-auto">
     <select class="form-control">
         <option>Indigo</option>
         <option>SpiceJet</option>
     </select>
    </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="txtflightnumber" class="col-form-label">Flight Number</label>
    </div>
    <div class="col-auto">
     <input type="text" id="txtflightnumber" class="form-control">
    </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-auto">
     
    </div>
    <div class="col-auto">
     <!-- <input type="text" id="txtlable" class="form-control"> -->
     <mat-form-field>
      <input class ="form-control" matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>
    </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-auto">
     
    </div>
    <div class="col-auto">
        <button class="btn btn-primary">Search</button>
    </div>
  </div>