<div class="container">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            One Way
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Round Trip
        </label>
    </div>


    <form class="row g-8">
        <div class="col-auto">
            <label for="txtfrom">From</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="txtfrom" placeholder="From">
        </div>
        <div class="col-auto">
            <label for="txtto">To</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="txtto" placeholder="To">
        </div>
<br/>
<br/>
        <div class="row">
            <div class="col-auto">
                <label >Oneway Journey</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="txtdt1" placeholder="From">
            </div>
            <div class="col-auto">
                <label>Return Journey</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="txtdt2" placeholder="To">
            </div>
        </div>

    </form>

</div>