<app-navbar>
</app-navbar>
<div class="container">
    <hr>
    <h1 class="text-center">Booking Flight</h1>
    <hr>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            One Way
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Round Trip
        </label>
    </div>


    <form  [formGroup]="eSearchForm" (submit)="SearchFlight()" class="row g-8">

        <div class="col-auto">
            <input type="text" class="form-control" id="txtfrom" placeholder="From" formControlName="from" >
        </div>

        <div class="col-auto">
            <input type="text" class="form-control" id="txtto" placeholder="To" formControlName="to" >
        </div>
        <div class="col-auto">
            <button class="btn btn-success">Search</button>
        </div>
        <br />
        <br />
        <br />
        <br />
        <!-- <div class="row">

            <div class="col-auto">
                <input type="text" class="form-control" id="txtdt1" placeholder="Oneway Journey">
            </div>

            <div class="col-auto">
                <input type="text" class="form-control" id="txtdt2" placeholder="Return Journey">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary">Search</button>
            </div>
        </div> -->

    </form>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
<th>S#</th>
<th>Flight Name</th>
<th>From</th>
<th>To</th>
<th>TakeOff</th>
<th>Landing</th>
<th>Cost</th>
<th>Book</th>
            </thead>
            <tbody>
                <tr *ngFor="let flight of searchdata; index as i">
<td>{{i+1}}</td>
<td>{{flight.flightname}}</td>
<td>{{flight.from}}</td>
<td>{{flight.to}}</td>
<td>{{flight.takeoff}}</td>
<td>{{flight.landing}}</td>
<td>{{flight.totalcost}}</td>

                  <td>  <a [routerLink]="['/book/',flight.id]" class="btn btn-primary">Book</a></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>